body {
  font-family: 'Noto Sans', sans-serif;
}


.footer .icon-link {
    font-size: 25px;
    color: #000;
}

.link-block a {
    margin-top: 5px;
    margin-bottom: 5px;
}

.my-method-name {
  font-family: 'Marker Felt';
  font-weight: bold;
}


.teaser .hero-body {
  padding-top: 0;
  padding-bottom: 3rem;
}

.teaser {
  font-family: 'Google Sans', sans-serif;
}


.publication-title {
}

.publication-banner {
  max-height: parent;

}

.publication-banner video {
  position: relative;
  left: auto;
  top: auto;
  transform: none;
  object-fit: fit;
}

.publication-header .hero-body {
}

.publication-title {
    font-family: 'Google Sans', sans-serif;
}

.publication-authors {
    font-family: 'Google Sans', sans-serif;
}

.publication-venue {
    color: #555;
    width: fit-content;
    font-weight: bold;
}

.publication-awards {
    color: #ff3860;
    width: fit-content;
    font-weight: bolder;
}

.publication-authors {
}

.publication-authors a {
   color: hsl(204, 86%, 53%) !important;
}

.publication-authors a:hover {
    text-decoration: underline;
}

.author-block {
  display: inline-block;
}

.publication-banner img {
}

.publication-authors {
  /*color: #4286f4;*/
}

.publication-video {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;

    overflow: hidden;
    border-radius: 10px !important;
}

.publication-video iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.publication-body img {
}

.results-carousel {
  overflow: hidden;
}

.results-carousel .item {
  margin: 5px;
  overflow: hidden;
  border: 1px solid #bbb;
  border-radius: 10px;
  padding: 0;
  font-size: 0;
}

.results-carousel video {
  margin: 0;
}


.interpolation-panel {
  background: #f5f5f5;
  border-radius: 10px;
}

.interpolation-panel .interpolation-image {
  width: 100%;
  border-radius: 5px;
}

.interpolation-video-column {
}

.interpolation-panel .slider {
  margin: 0 !important;
}

.interpolation-panel .slider {
  margin: 0 !important;
}

#interpolation-image-wrapper {
  width: 100%;
}
#interpolation-image-wrapper img {
  border-radius: 5px;
}

.button {
  margin: 2px;
}

.method-video {
  margin: 5px;
  overflow: hidden;
  border: 1px solid #bbb;
  border-radius: 10px;
  padding: 0;
  font-size: 0;
}

.teaser-video-container {
  position: relative;
  width: 100%;
  padding-top: 56.25%; /* 16:9 Aspect Ratio */
  overflow: hidden;
}
.teaser-video-container video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* point cloud stuff */

.thumbnails {
  padding-top: 8px;
  display: grid;
  grid-template-columns: repeat(12, 1fr); /* Starts with 12 columns */
  gap: 10px; /* Adjust the gap between thumbnails as needed */
}

@media (max-width: 768px) {
  .thumbnails {
    grid-template-columns: repeat(6, 1fr); /* Changes to 6 columns on smaller screens */
  }
}

.thumbnail-btn {
  aspect-ratio: 1 / 1; /* Makes each button square */
  border: 0.5px solid #af9f9f; /* Example: 1px solid black border */
  border-radius: 10px;
  padding: 0; /* Removes padding around the image */
  overflow: hidden; /* Ensures nothing overflows the button boundaries */
}

.thumbnail-btn img {
  width: 100%; /* Makes the image fill its container's width */
  object-fit: cover; /* Ensures the image covers the button area without distortion */
}


.thumbnail-btn:hover   {
  border: 2px solid #000;
  border-radius: 10px;
}

.centered-container {
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  min-height: 100vh; /* Take at least the full height of the viewport */
  flex-direction: column; /* Stack child elements vertically */
  text-align: center; /* Center the text for any text inside the container */
}

.iframe {
  width: 100%;
  border: 2px solid #000; /* Example: 2px solid black border */
  height: 500px; /* Adjust the height as necessary */
}

.control-buttons {
  padding-top: 8px;
}

.is-active {
  border: 2px solid #000;
  border-radius: 10px;
}
